<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/login.js" defer></script>
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
</head>
<body>
    <h1>Dancer Login</h1>
    <button type="button" id="toSignup" name="toSignup">Go To Signup</button>

    <form action="/login" method="POST">
        <label for="email">UPS Email:</label>
        <input type="email" id="email" name="email" required><br><br>
        
        <label for="studentid">Student ID:</label>
        <input type="password" id="studentid" name="studentid" required>
        
        <button type="submit" id="loginSubmit" name="loginSubmit">Login</button><br><br>
    </form>

    <div>
        <% if (flag === 'SUCCESSFUL SIGNUP') { %>
        <p>
            Signup was successful! Please login.
        </p>
        <% } else if (flag === 'INVALID CREDENTIALS') { %>
        <p>
            No such dancer exists. Please try again or signup.
        </p>
        <% } else if (flag === 'USER EXISTS') { %>
        <p>
            A dancer with this email and studentID already exists. Please login instead.
        </p>
        <% }else if (flag === 'LOGIN ERROR') { %>
        <p>
            Unable to complete login. Please try again.
        </p>
        <% } %>
        
    </div>
</body>
</html>