<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/prezHomepage.js" defer></script>
    <link rel="stylesheet" href="/css/login.css">
    <title>President's Homepage</title>
</head>

<body>
    <h1>Welcome RDG Prez!</h1>

    <button type="button" id="openAddDanceDialog">Add Dance</button>

    <dialog class="dialog" id="addDanceDialog">
        <form method="post" action="/addDance">
            <button type="button" class="close-button" id="closeAddDanceDialog">X</button><br>

            <label for="email">Choreographer Email:</label>
            <input type="email" id="email" name="email" required> <br><br>

            <label for="name">Choreographer Name:</label>
            <input type="text" id="name" name="name" required><br><br>

            <button type="submit">Add Dance</button>
        </form>
    </dialog>

    <ul id="danceList">
        <% for (let dance of dances) { %>
            <li id="dance_<%= dance.danceID %>" data-dance-id="<%= dance.danceID %>"> <%= dance.choreographerName %> </li>
        <% } %>
    </ul>
    
    <dialog class="dialog" id="removeDanceDialog">
        <form method="post" action="/removeDance">
            <p>Are you sure you want to remove this dance? <br>
                (This action cannot be undone!)</p>
            
            <input type="hidden" name="danceID" id="deleteDanceId">
            <button type="submit" id="confirmRemove" >Remove Dance</button>
            <button type="button" class="close-button" id="closeRemoveDanceDialog">Cancel</button>
        </form>
    </dialog>
</body>

</html>