<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dancer Signup</title>
</head>
<body>
    <h1>Signup to dance with RDG!</h1>
    <br>
    <form action="/signup" method="post">
        <label for="user-email">Email:</label><br>
        <input type="email" id="user-email" name="email"></input><br><br>

        <label for="user-password">StudentID:</label><br>
        <input type="password" id="StudentID" name="StudentID"></input><br><br>
        
        <button type="submit">Signup</button>
    </form>

    <div>
        <% if (flag === 'SIGNUP ERROR') %>
        <p>
            Unable to signup. Please try again.
        </p>
    </div>

</body>
</html>